{% extends "base.html" %}

{% block content %}
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Benvenuti nel mio website!</h1>
        <p class="lead">Questo è un gestore di contenuti specializzato per PA...
        <a href="#" class="btn btn-group-sm ">Continua...</a></p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h2>Gestione Pratiche</h2>
          <p>In questa sezione è Possibile <b> creare pratiche</b>  
            contenenti files, documenti, immagini e tutto ciò che 
            solitamente si archivia neglio oramai ingombranti e poco pratici faldoni. 
            E' compresa una funzionalità di <b>RICERCA</b> per la immediata 
            reperibilità della pratica e del suo contenuto.</p>
        </div>
        <div class="col-md-4">
          <h2>Forum</h2>
          <p>Questa sezione è dedicata alla creazione di forum di discussione dove sarà 
            possibile immettere una proposta, un quesito, o quant'altro sia suscettibile 
            della altrui opinione o consigli 
          </p>
        </div>
        <div class="col-md-4">
          <h2>Blog</h2>
          <p>Questa sezione conterrà un blog gestito dall'amminitratore del sito 
            dove verranno pubblicate notizie concernenti iniziative, comunicazioni, avvisi 
            e quant'altro serva alla buona continuazione della attività.
          </p>
        </div>
        </div>
    </main>
{% endblock content %}